.info-section {
  width: 70vw;
  height: 7vh;
  display: flex;

  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: whitesmoke;
  border: 1px solid rgb(218, 218, 218);
  border-radius: 8px;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
  z-index: 999;
}

.ip-address,
.location,
.timezone,
.isp {
  text-align: center;
}

h3 {
  color: whitesmoke;
  font-size: xx-large;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}

h4 {
  margin: 0;
  font-size: xx-small;
}

span {
  font-weight: bold;
}

/* Media query para dispositivos con un ancho máximo de 600px */
@media (max-width: 600px) {
  .info-section {
    flex-direction: column;
    height: 90vh;
    width: 80vw;
    justify-content: space-evenly;
  }
}
